.App {
  text-align: center;
}

.mapcontainer {
  outline: 1px solid red;
  width: 500px;
}

.mapboxgl-ctrl-group {
    width: 30px;
}

.InSituDialog {
  height: 300px;
  width: 200px;
  background-color: #FFFFFF;
  border-radius: 25px;
  z-index: 1;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  float: right;
}
